.contact-info-card {
  z-index: 200;
  .contact-info-title {
    margin-bottom: 16px;
  }
  .contact-name {
    margin-top: 16px;
  }

  .btn {
    margin-top: 16px;
    width: 100%;
  }

  .social-network {
    padding: 12px 0px;
    margin-top: 8px;
    margin-bottom: 16px;
  }
}
