.contact-info-card-property {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 280px;
  width: 100%;
}

.breadcrumb {
  margin-bottom: 8px;
}

.modal-body-share-property {
  background-color: #f5f5f5;
  border-radius: 6px;
}

.nav-tabs {
  width: 100%;
  border: none;
}

.property-main-img {
  // max-width: 1000px;
  width: 100%;
  // border-radius: 4px 4px 0px 0px;
}

.property-small-img {
  // width: 100%;
  cursor: pointer;
}

.slick-track {
  display: flex !important;
  flex-wrap: nowrap;
}

.slick-slide {
  padding-right: 16px;
}

.photo-gallery {
  flex-wrap: nowrap;
  overflow-x: scroll;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
}

.description {
  margin-top: 40px;
}

.details {
  margin-top: 40px;
  .details-table {
    margin-top: 24px;
  }
  .detail-label,
  .detail-value {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #3b485c;
  }
}

.location {
  margin-top: 40px;
  .location-desc {
    margin-top: 24px;
  }
  p {
    max-width: 800px;
  }
  img {
    max-width: 1000px;
    width: 100%;
  }
}

.virtual-tour {
  margin-top: 40px;
  .virtual-tour-desc {
    margin-top: 24px;
  }
  img {
    max-width: 1000px;
    width: 100%;
  }
}

.inquirie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;

  .inquirie-details {
    display: flex;
    align-items: center;

    .logo-wrapper {
      background-color: #ededed;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
      width: fit-content;
      height: fit-content;
      margin-right: 24px;
      padding: 10px;
      border-radius: 4px;

      p {
        width: 100px;
        text-align: center;
      }
    }

    .check {
      display: flex;
      align-items: center;
      background: #faf4ef;
      border: 1px solid #d6a67a;
      border-radius: 4px;
      padding: 18px;
      cursor: pointer;
    }
  }

  h4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .info-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    grid-gap: 24px;

    svg {
      margin-right: 8px;
    }
  }

  .details {
    max-width: 800px;
    width: 100%;
  }
}
