@use "../../style/custom" as *;

.inquiry-table-wrapper {
    background: $n0;
    border: 1px solid $n100;
    border-radius: 4px;
    .table {
        margin: 0;
    }
    padding: 0;
    h6 {
        margin: 0;
        padding: 16px 16px;
        color: #6b6f72;
    }
}
