@use "../../../style/custom" as *;

.single-account-wrapper {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../../stories/assets/account-background.jpg");
    background-position: center;
    background-size: cover;
    h3 {
        color: $n0;
    }
    h4 {
        color: $n0;
    }
    p {
        color: $n0;
    }
    .breadcrumb-active-link {
        color: $n100;
    }
    .link {
        color: $n50;
    }
}
