@use "../../style/custom" as *;

.invoice-choose-package-table-wrapper {
    margin: 0;
    background: $n0;
    border: 1px solid $n100;
    border-radius: 4px;

    .choose-package-header {
        padding: 20px 16px;
        // h5 {
        //     margin: 0;
        // }
    }

    .col-names {
        h5 {
            color: $n300;
        }
    }

    .total-price {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    h5 {
        margin: 0;
    }
}
