@use "../../style/custom" as *;

.welcome-component-wrapper {
    // background: linear-gradient(124.14deg, #084474 0.66%, #527c9e 76.59%);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url("../../stories/assets/account-background.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 4px;
    padding: 32px 24px;

    p {
        color: white;
    }
    h2 {
        color: white;
    }
    h3 {
        color: white;
    }

    .welcome-intro {
        color: white !important;
        margin-bottom: 40px;
    }
}
