.accordion-wrapper {
    h6 {
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 16px;
        color: #6b6f72;
    }
}
.accordion-button {
    padding: 0 12px;

    .logo {
        width: 7%;
    }
    .descr {
        width: 15%;
        padding: 16px 60px 16px 16px;
        h5 {
            margin: 0;
        }
    }
}
.accordion-body {
    .table {
        margin: 0;
    }
    padding: 0;
    h6 {
        margin: 0;
        padding: 16px 16px;
        color: #6b6f72;
    }
}
