@use "../../../style/custom" as *;
.single-inquiry-page-wrapper {
    .inquiries-logo-company-phone {
        width: 148px;
        margin-top: 8px;
        margin-bottom: 16px;
    }
    .inquiries-search {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}
