@use '../../style/custom' as *;

.property-card{
    border-radius: 8px;
    border-color: $n100;
    position: relative;

    img{
        border-radius: 8px;
    }

    .property-address{
        color: $n300;
    }

    hr{
        color: $p50;
    }

    .user-name-surname{
        margin-left: 8px;
    }

    .favorite-property-icon{
        background-color: rgba($n500, 0.5);
        position: absolute;
        right: 8px;
        top:8px;

        svg{
            fill: $n0;
        }
    }
}

.property-card-hover{
    position: absolute;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    background: rgba(38, 50, 56, 0.2);
    padding: 10px;

    .btn{
        width: 100%;
        padding: 14px 24px;
    }
}