// Font Face
@font-face {
  font-family: 'Lato Regular';
  src: url('../stories/fonts/Lato/Lato-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Lato Bold';
  src: url("../stories/fonts/Lato/Lato-Bold.ttf");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: 'Ubuntu Regular';
  src: url("../stories/fonts/Ubuntu/Ubuntu-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url("../stories/fonts/Ubuntu/Ubuntu-Bold.ttf");
  font-style: bold;
  font-weight: 700;
}

//Fonts

$font-main: 'Lato Regular';
$font-heading: 'Ubuntu Bold';

//Primary colors

$p500: #084474;

$p50: #e1e9ee;
$p200: #84a2ba;
$p300: #527C9E;
$p800: #042d57;
$p700: #063561;
$p900: #021f44;

//Secondary colors

$s500: #d6a67a;

$s50: #faf4ef;
$s100: #f3e4d7;
$s200: #ebd3bd;
$s300: #e2c1a2;
$s500: #d6a67a;
$s700: #cc9567;
$s800: #c68b5d;

//Neutral colors

$n500: #2c3136;

$n0: #fff;
$n50: #f5f5f5;
$n100: #e0e0e1;
$n200: #96989b;
$n300: #6b6f72;
$n400: #4c5054;
$n700: #3B485C;


//Error colors

$e500:#D23E3F;


$primary: $p500;
$secondary: $s500;

// Global settings

body{
  background-color: $n50;
}

//Typography

h1 {
  font-size: 48px;
  line-height: 40px;
  letter-spacing: -2%;
  color: $n500;
  font-family: $font-heading;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0%;
  color: $n500;
  font-family: $font-heading;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 2%;
  color: $n500;
  font-family: $font-heading;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2%;
  color: $n500;
  font-family: $font-heading;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0%;
  color: $n500;
  font-family: $font-heading;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: $n500;
  font-family: $font-heading;
  font-weight: 700;
}

p {
  font-family: $font-main;
  color: $n500;
  margin-bottom: 0;
}

.caption-text {
  font-family: $font-main;
  color: $n300;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
}

.small-text {
  font-family: $font-main;
  color: $n500;
  font-size: 12px;
  line-height: 16px;
}

.light-color {
  color: $n400;
}

.link{
  color: $p500;
  line-height: 20px;
}