@use "../../../style/custom" as *;

.table-item {
  align-items: center;
  vertical-align: middle;

  &:hover {
    background-color: $n50;
  }
  td {
    border: none;
    // padding: 10px;
    .table-ads-logo {
      width: 86px;
    }
    &:first-child {
      width: 25%;
    }
    &:nth-child(2) {
      width: 25%;
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  h5 {
    margin: 0;
    color: $p500;
  }

  span {
    color: #3d6c9e;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
