input[type='checkbox'],
input[type='radio'] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

label {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2c3136;
  cursor: pointer;
  width: 100%;
  max-width: 150px;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;

  & .checkbox {
    background-color: rgba(178, 182, 189, 0.792);
  }

  & .radio {
    background-color: rgba(178, 182, 189, 0.792);
  }
}

.checkbox {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid #96989b;
  border-radius: 4px;
  margin-right: 4px;

  &:hover {
    border: 1px solid #e0e0e1;
  }
}

.checkbox--active {
  border-color: #084474;
  background: #084474;
}

.radio {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 20px;
  margin-right: 4px;
  border: 3px solid #fff;
  outline: 2px solid #96989b;

  &:hover {
    border: 3px solid #e0e0e1;
  }
}

.radio--active {
  border: 3px solid #fff;
  outline: 2px solid #96989b;
  background: #084474;
}
