@use '../../style/custom' as *;

.sidebar {
  background-color: #fff;
  z-index: 5;
  a {
    color: #000;
    text-decoration: none;
  }

  .sidebar-links {
    width: 200px;
    border: 2px solid transparent;
    &:hover {
      background-color: $p50;
      border: 2px solid $p50;
    }

    &:active {
      border: 2px solid $n500;
    }
  }
}
