@use "../../style/custom" as *;

.table-wrapper {
  max-width: 1000px;
  background-color: $n0;
  border: 1px solid $n100;
  border-radius: 4px;
  .ads-table {
    thead {
      th {
        padding: 16px;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: $n700;
      }
    }

    .table-item {
      align-items: center;
      vertical-align: middle;
      td {
        border: none;
        padding: 14px 10px;
        .table-ads-logo {
          width: 86px;
        }
        &:first-child {
          width: 15%;
        }
        &:last-child {
          width: 20%;
        }
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
      h5 {
        color: $p500;
      }

      span {
        color: #3d6c9e;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .pagination-wrapper {
    padding: 5px 10px;

    svg {
      transform: scale(0.7);
    }

    ul {
      margin: 0;

      li {
        a {
          border: none;

          &:focus,
          &:active {
            box-shadow: none;
          }
        }
      }
    }

    p {
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      color: $n700;
    }
  }
}
