.not-found-property-wrapper {
  .not-found-title {
    margin-top: 40px;
  }
  .not-found-subtitle {
    margin-top: 8px;
  }

  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  div {
    grid-gap: 16px;
  }
}
