.login-page {
  height: 100vh;
  background-color: #fff;
  .login-img{
    background-image: url("../../stories/assets/login.jpg");
    background-size: cover;
  }

  .logo {
    align-self: center;
    max-width: 250px;
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}
