@use "../../style/custom" as *;

.status-label {
  width: fit-content;
  padding: 2px 8px 2px 4px;
  gap: 4px;

  p {
    color: $n700;
    font-size: 14px;
  }
}

.status-label-success {
  background: $g50;
  border: 1px solid $g500;
}

.status-label-inProgress {
  background: $b50;
  border: 1px solid $b500;
}

.status-label-notStarted {
  background: $n50;
  border: 1px solid $n200;
}

.status-label-warningLabel {
  background: #fff3e9;
  border: 1px solid #ff9e49;
}

.status-label-errorLabel {
  background: $e50;
  border: 1px solid $e500;
}

.status-label-publishedLabel {
  background: $g50;
  border: 1px solid $g500;
  border-radius: 24px;
}

.status-label-notPublishedLabel {
  background: $n50;
  border: 1px solid $n200;
  border-radius: 24px;
}

.status-label-pending {
  background: $b50;
  border: 1px solid $b500;
}

.status-label-paid {
  background: $g50;
  border: 1px solid $g500;
}

.status-label-not-paid {
  background: $r50;
  border: 1px solid $r500;
}
