@use "../../style/custom" as *;

.accounts-table {
  background-color: $n0;
  border-radius: 8px;
  border: 1px solid $n100;

  .table-footer {
    height: 65px;
    border-top: 1px solid $n100;
  }

  .table-name {
    padding: 21px 16px;
    border-bottom: 1px solid $n100;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .table-header {
    padding: 16px;
    grid-gap: 10px;
    border-bottom: 1px solid $n100;

    h5 {
      margin: 0;
      color: $n700;
    }

    .role-name {
      margin-right: 100px;
    }
  }

  .table-body {
    border: none;
  }
}
