@use "../../style/custom" as *;

.accounts-table-wrapper {
  background-color: $n0;
  border: 1px solid $n100;
  border-radius: 4px;

  .accounts-table-header {
    padding: 21px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
